// Navigation code here


.title-nav {



    .first-title {
  font-family: 'Russo One', sans-serif;
  color: @header-font-color;
  font-size: 4rem;

    }

    margin: 20px 0;
    padding: 20px 0;
    .custom-layout(column, center);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #f4f4f4;
  
    

    nav {
        margin-left: 62px;
        padding:20px;

        @media @mobile {
            padding:5px;
                
          }
        
        
    
        @media @mobile {
          margin-left: 0;

          .custom-layout(row, center);
          align-items: center;
             
            
        }
    
        a {
          margin-left: 20px;
          font-size: 1.8rem;
          color: #000; 
          text-decoration:none;
          padding: 20px;


          @media @mobile {
            margin-left: 0;
            .custom-layout(column, center);
            align-items: center;
            
            
              
          }
          
      
        }

    

}

}

header {
    #space {
        margin:auto;
        border-radius: 10px;

        @media @mobile {
            // width: 100%;
            // margin-left: 22px;
            // margin: 0 auto;
            .center();
            
        }
    }

   .text-lift {

    @media @mobile {
        margin:20px;
        padding: 15px;
        .center();
        
    }

   }
}